*,
*::before,
*::after {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     overflow-x: hidden;
}

html {
     font-size: 62.5%;
}

img,
picture {
     display: block;
     max-width: 100%;
}

ul {
     list-style-type: none;
     /* Make sure it's not set to 'none' */
}

a {
     text-decoration: none;
     color: black;
}

button,
select,
input {
     border: none;
     outline: none;
}

select {
     background: 0;
     text-align: right;
}

button {
     background-color: #FF5400;
}

body {

     font-family: "Mulish",
          sans-serif;
}

/* General */
.container {
     max-width: 90%;
     margin: 3rem auto;
}

.yellow {
     color: #FF5400;
}



/* Navbar */
.nav_container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 3rem;
}

.nav_logo {
     display: flex;
     align-items: center;
     gap: .65rem;
}

.nav_logo h1 {
     font-size: 3.25rem;
     font-weight: 800;
}

.nav_menu ul {
     display: flex;
}

.nav_menu ul li a {
     font-size: 1.85rem;
     margin-left: 2.5rem;
     font-weight: 400;
}

.mobile_menu {
     display: none;
}

/* Hero section  */
.hero_container {
     border-radius: 16px;
     background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),
          url("Images/bridge.png");
     max-width: 1170px;
     min-height: 500px;
     color: white;
     background-repeat: no-repeat;

}

.hero_content {
     margin: 0 15rem;
     margin-top: 10rem;
     max-width: 800px;
}

.hero_content h1 {
     font-size: 6rem;
     margin-bottom: 2rem;
     font-weight: 800;
     text-align: center;
}

.hero_content p {
     font-size: 1.6rem;
     /* margin-left: 20rem; */
     text-align: center;
     margin-bottom: 4rem;
}

.input_content {
     border-radius: 8px;
     background: rgba(255, 255, 255, 0.30);
     max-width: 800px;
     height: 8rem;
     /* display: flex;
     justify-content: space-between;
     align-items: center; */
     margin: 2rem auto;

}

/* .input_content >img{
     position: absolute;
     display: inline;
     top:20px;
          left: 8px;
} */
.div {
     display: inline;
     position: relative;

}

.div img {
     display: inline;
     position: absolute;
     top: 1%;
     right: 7.8%;

}

/* .input_content select {
     width: 10rem;
} */

.input_content input {
     /* max-width: 17rem; */
     padding: 1.5rem 1rem;
     margin-left: 2rem;
     margin-top: 1.7rem;
     border-radius: .8rem;

     /*
     display: block; */
}

.btn_primary {
     padding: 1.5rem 3rem;
     margin-left: 2rem;
     border-radius: 8px;
     cursor: pointer;
}

.btn_primary a {
     font-size: 1.6rem;
     font-weight: 700;
     color: white;
     margin-left: 1rem;
     margin-bottom: -1.3rem;
}

.btn_primary img {
     display: inline;

}


/* 
< !-- Popular Section -->
*/

.popular_container {
     margin-top: 5rem;
     margin-bottom: 3rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.popular_content,
.popular_img {
     max-width: 50%;
}

.popular_content h1 {
     font-size: 3.85rem;
     margin: 2rem 0;
}

.popular_content p {
     font-size: 1.65rem;
     margin: 2rem 0;
}

.popular_content ul,
.popular_content li,
.popular_content p {
     font-weight: 400;
}

.popular_content ul {

     list-style-type: inherit;
     list-style-position: inside;
     padding: 1rem;
}

.btn_2 {
     padding: 1.5rem 3rem;
     border-radius: .85rem;
     margin-top: 3rem;
}

.btn_2 a {
     font-size: 2rem;
     font-weight: 800;
     color: white;
}

.popular_content ul li {
     font-size: 1.65rem;
}

.popular_img {
     margin-bottom: 2rem;
     margin-top: 2rem;
}



/* < !-- Destination --> */
.destination_content {
     margin-top: 3rem;
     text-align: center;
}

.destination_content h1 {
     font-size: 3.8rem;
}

.destination_content p {
     font-size: 1.6rem;
}

.destination_grid {
     margin-top: 4rem;
     /* display: grid; */
     /* grid-template-columns: repeat(12, 1fr); */
     /* grid-template-rows: repeat(4,1fr); */

}

.img_grid1,
.img_grid2,
.img_grid3 {
     display: flex;
     gap: 1.8rem;
     margin: 2rem 1rem;
     padding-left: 1rem;

}

/* .x_special img .gridimg2{
     object-fit: initial;
} */
#center_position,
#center_position2 {
     position: relative;
}

#center_position h1,
#center_position2 h1 {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translateX(-50%);
     color: white;
}

#center_position2 img {
     height: 100%;
}

/* 
.img_grid1{
     grid-column: span 6;
}
.img_grid1{
     grid-column: span 6;
}
.img_grid1{
     grid-column: span 6;
}
.img_grid1{
     grid-column: span 6;
} */

/* < !-- Why Choose Us --> */
.review_container {
     margin-top: 4rem;
}

.review_container h1,
.review_container>p {
     max-width: 64rem;
     margin: 0 40rem;
}

.review_container h1 {
     font-size: 3.8rem;
     font-weight: 800;
     margin-bottom: 2rem;
     text-align: center;
}

.review_flex {
     display: flex;
     margin: 4rem 1rem;
     gap: 2rem;
}

.review_container h2 {
     font-size: 2.25rem;
     margin: 2rem 0;
}

.review_container>p {
     font-size: 1.65rem;
     text-align: center;
     font-weight: 400;
}

.review_section1,
.review_section2,
.review_section3 {
     max-width: 50%;
     padding: 2rem;
     font-size: 1.65rem;
}

.review_flex p {
     margin: 2rem 0;

}

.review_section1,
.review_section3 {
     border-radius: 1.6rem;
     border: 1px solid rgba(251, 181, 99, 0.20);
     background: rgba(251, 181, 99, 0.05);

}

.review_section2 {
     border-radius: 1.6rem;
     border: 1px solid rgba(41, 206, 246, 0.20);
     background: rgba(41, 206, 246, 0.05);
}

.review_section3 {
     margin: 1rem 32rem;
}

/* deals  */
.deals_container {
     margin-top: 5rem;
     margin-bottom: 5rem;
}

.deals_container h1 {
     font-size: 3.8rem;
     font-weight: 800;
}

.deals_container p {
     font-size: 1.5rem;
}

.deal_flex {
     display: flex;
}

.deal_text {
     text-align: center;
}

.deals_section,
.deals_section2 {
     border-radius: 16px;
     background: url("Images/pool.png");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     margin-top: 2rem;
}

.deals_section2 {
     background: url("Images/swim.png");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
}

.deals_container .deal_btn {
     margin-top: 3rem;
     text-align: center;
     margin-left: auto;
     margin-right: auto;

}

.deal_btn a {
     text-align: center;
}

.deal_content,
.deal_content2 {
     max-width: 30%;
     padding: 1.5rem 2rem;
     border-radius: 16px;
     border: 2px solid #FFF;
     background: rgba(255, 255, 255, 0.80);
     backdrop-filter: blur(2.5px);
     margin-left: 60%;
     margin-top: 4%;
     margin-bottom: 4%;
}

.deal_content2 {
     margin-left: 10%;
}

.gray_styles {
     color: #5A5A5D;
     display: flex;
     align-items: center;
}

.gray_styles img {
     display: inline;
     padding: 1rem;
}

/* < !-- Unique Section (Travel Tips) --> */
.tips_container {
     margin: 3rem auto;
}

.tips_content h1 {
     text-align: center;
     font-size: 3.5rem;
     font-weight: 800;
}

.tips_content>h1>img {
     display: inline;
}

.tips_list {
     margin-top: 2rem;
     /* min-height: 30rem; */
     border-radius: 16px;
     border: 1px solid rgba(41, 206, 246, 0.20);
     background: rgba(41, 206, 246, 0.05);
}

.items {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.text-content,
.imgdiv {
     max-width: 50%;
}

.imgdiv img {
     border-radius: 2rem;

}

.text-content h1,
h3,
p {
     margin: 1rem 1.5rem;
}

.text-content h1 {
     font-size: 3rem;
}

.text-content h3 {
     font-size: 2rem;
}

.text-content p {
     font-size: 1.45rem;
}
                    /* < !-- Video section --> */
.video_container{
     display: flex;

}
.video_content h1{
     font-size: 3.8rem;
}
.video_content p{
     font-size: 1.65rem;
     margin: 3rem .5rem;
}
.see_btn{
     margin: 3rem .5rem;
}
/* newsletter */
.newsletter {
     display: flex;
     justify-content: space-between;
     gap: 1rem;
}

.news_input,
.news_img {
     max-width: 50%;
}

.news_input {
     border-radius: 1.6rem;
     border: 1px solid #FF5400;
     /* margin: 0 auto; */
}

.news_input hr {
     padding: 0 2rem;
     margin: 0 2rem;
}

.news_input input {
     margin: 2rem;
     border-radius: 6px;
     background: rgba(19, 19, 24, 0.05);
     display: block;
     width: 39rem;
     padding: 1.65rem 2rem;
}

.news_input h1 {
     font-size: 2.2rem;
     margin: 2rem;
}

.news_input p {
     font-size: 1.45rem;
     color: #5A5A5D;
     margin: 2rem;
     margin-right: 4rem;
}

.btn3 {
     margin: 1rem 2rem;
     border-radius: 6px;
     padding: 1.5rem;
     width: 39rem;
     cursor: pointer;
}

.btn3 a {
     color: white;
     font-weight: 800;
     font-size: 1.8rem;
}

/* < !-- footer section --> */
footer {
     background: rgba(19, 19, 24, 0.05);
     margin-top: 8rem;
     min-height: 45rem;
}

.footer_content p {
     text-align: center;
     margin: 2rem 0;
     font-size: 1.6rem;
}

.logo,
.social {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 2rem;
     margin-bottom: 4rem;
}

.footer_content hr {
     width: 50%;
     margin: 0 auto;
}

.logo {
     margin-top: 7rem;
}

footer p {
     font-size: 1.6rem;
     margin-top: 4rem;
     text-align: center;
}

/* Responsive */
@media screen and (max-width:600px) {

     .nav_menu {
          display: none;
     }

     .mobile_menu {
          display: block;
     }


     .hero_container {
          background-size: cover;
          margin: 0 2.5rem;
          background-position: center;
     }

     .hero_content {
          margin: 0 1rem;
          margin-top: 4rem;
     }

     .input_content {
          height: auto;
          margin: 0 2.5rem;
     }

     .input_content input {
          /* width: 46rem; */
          width: 90%;
     }

     .hero_content p {
          font-size: 1.45rem;
     }

     .div {
          display: block;
     }

     .div img {
          /* top: 3rem;
          right: 2.5rem; */
          top: 50%;
          right: 8%;
     }

     /* .btn_primary {
          margin-top: 1rem;
          padding: 1.5rem 18rem;
          margin-bottom: 1rem;
     } */
     .find_btn {
          margin-top: 1rem;
          margin-bottom: 1rem;
          /* padding: 2rem 15rem; */
          width: 90%;
     }

     /* <!-- Popular Section --> */
     .popular_container,
     .review_flex,
     .newsletter,
     .img_grid1,
     .img_grid2,
     .img_grid3,
     .deal_flex,
     .video_container {
          flex-direction: column;
     }

     .popular_content h1,
     .hero_content h1,
     .review_container h1 {
          font-size: 2.2rem;
     }

     .popular_content,
     .popular_img,
     .review_section1,
     .review_section2,
     .review_section3,
     .news_input,
     .news_img,
     .text-content,
     .imgdiv {
          max-width: 100%;
     }

     /* < !-- Why Choose Us --> */
     .btn3,
     .review_section3,
     .review_container h1,
     .review_container>p {
          margin: 1rem 0;
     }

     .btn3 {
          padding: 1rem;
          width: 95%;
          margin-left: 1rem;
     }

     .review_container>p {
          font-size: 1.4rem;
     }

     .news_input input {
          padding: 1rem;
          width: 95%;
          margin-right: 1.5rem;
     }

     .destination_content {
          text-align: center;
          font-size: 2rem;
     }

     .img_grid1,
     .img_grid2,
     .img_grid3 {
          gap: 1rem;
          padding: 0;
     }

     #center_position2 img {
          width: 90.5%;
     }

     .items {
          flex-direction: column;
     }


     .deal_content,
     .deal_content2 {
          max-width: 90%;
          margin: 1rem auto;
          padding: 1rem 2rem;
     }

     .book-btn {
          padding: 1rem 2rem;
     }
}